<h1>Connexion Abonné</h1>

<form id="Content" (ngSubmit)="onSubmit()">
    <div id="creditCardContent">
        <p>Votre numéro cb :</p>
        <input #card name="creditCardInput" 
            [ngModel]="carteBancaire" 
            (ngModelChange)="CB_format(card)"
            placeholder="1234 1234 1234 1234" type="tel" [maxlength]="19">
        <div *ngIf="isCreditCardInvalid()" id="cbWrong">Numéro de carte bleue est éronnée</div>
    </div>

    <div id="secretCodeContent">
        <p>Votre code secret :</p>
        <code-input #codeSecret name="secretCodeInput" 
            [isCodeHidden]="false" 
            [codeLength]="5"
            (codeChanged)="saveSecretCode($event)">
        </code-input>
    </div>
    <div id="ValidFormContent">
        <button mat-button type="submit" [disabled]="!isFormValid()">Se connecter</button>
    </div>

    <div *ngIf="isConnexionInvalid()" id="cbWrong">Vos identifiants sont incorrect</div>
</form>