<h1>Connexion Abonné</h1>

<form id="content" (ngSubmit)="onSubmit()">
    <div id="creditCardContent">
        <p>Votre numéro cb :</p>
        <input #card name="creditCardInput" 
            [ngModel]="creditCard" 
            (ngModelChange)="CB_format(card)"
            placeholder="1234 1234 1234 1234" type="tel" [maxlength]="19">
        <div *ngIf="isCreditCardInvalid()">Wrong</div>
    </div>

    <div id="secretCodeContent">
        <p>Votre code secret :</p>
        <code-input #codeSecret name="secretCodeInput" 
            [isCodeHidden]="false" 
            [codeLength]="5"
            (codeChanged)="saveSecretCode($event)">
        </code-input>
    </div>
    <div id="content-btn">
        <button mat-button type="submit" [disabled]="!isFormValid()">Se connecter</button>
    </div>
</form>