input{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Inter";
    border-radius: 8px;


}
h1{
    font-family: "Inter";
    font-weight: 800;
}
p{
    font-family: "Inter";
    margin-top: 5px;
}

code-input{
    width: 50%;
}

button{
    margin-top: 20px;
}