<div class="container">
    <div class="progress">
        <div class="percent" style="width: 0%;"></div>
    </div>
    <div class="steps">
        <div class="step" id="0" class="step selected"></div>
        <div class="step" id="1"></div>
        <div class="step" id="2"></div>
        <div class="step" id="3"></div>
        <div class="step" id="4"></div>
        <div class="step" id="5"></div>
    </div>
</div>

<div class="body">
    <h1> Déposer un/des vélo(s) </h1>

    <div id="Content">
        <div id="connexionContent" *ngIf="this.numStep == 0">
            <h2> Connexion client : </h2>

            <form id="noAbo" *ngIf="this.clientAbo == false" (ngSubmit)="requeteClientNoAbo()">
                <div id="secretCodeContent">
                    <p>Votre code secret :</p>
                    <code-input #codeSecret name="secretCodeInput" [isCodeHidden]="false" [codeLength]="5"
                        (codeChanged)="updateSecretCode($event)">
                    </code-input>
                </div>

                <div id="ValidFormContent">
                    <button mat-button type="submit" [disabled]="!isFormValidNoAbo()">Se connecter</button>
                </div>

                <p (click)="openLoginAbo()" class="align"> J'ai déjà un compte </p>
            </form>

            <form id="Abo" *ngIf="this.clientAbo == true" (ngSubmit)="requeteGetLocationAbo()">
                <div id="creditCardContent">
                    <p>Votre numéro cb :</p>
                    <input #card name="creditCardInput"
                        [ngModel]="carteBancaire"
                        (ngModelChange)="CB_format(card)"
                        placeholder="1234 1234 1234 1234" type="tel" [maxlength]="19">
                    <div *ngIf="isCreditCardInvalid()" id="cbWrong">Numéro de carte bleue est eronnée</div>
                </div>

                <div id="secretCodeContent">
                    <p>Votre code secret :</p>
                    <code-input #codeSecret name="secretCodeInput"
                        [isCodeHidden]="false"
                        [codeLength]="5"
                        (codeChanged)="updateSecretCode($event)">
                    </code-input>
                </div>

                <div id="ValidFormContent">
                    <button mat-button type="submit" [disabled]="!isFormValidAbo()">Se connecter</button>
                </div>

                <p (click)="openLoginNoAbo()" class="align"> Je n'ai pas encore de compte </p>
            </form>
        </div>


        <div id="locationContent" *ngIf="this.numStep == 1">
            <h2> Location : </h2>

            <div id="locations">
                <div class="locations-container" (click)="selectLocation(location)" *ngFor="let location of this.locations">
                    <h3> Location {{ location.id  }} </h3>
                    <ul>
                        <li class="recap" *ngFor="let velo of this.location.velos"> {{  velo.modele.modele }} - {{ velo.modele.coutHoraire }}€/h </li>
                        <li> Début il y a : {{ getDureeLocationString(location.dateDebut) }} </li>
                    </ul>
                </div>

                <div style="text-align: center;" *ngIf="this.locations.length === 0">
                    <span id="cbWrong"> Vous n'avez pas de location en cours </span>

                    <div id="ValidFormContent">
                        <button mat-button (click)="returnToLocation()">Loué un velo</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="stationContent" *ngIf="this.numStep == 2">
            <h2> Selectionne une station : </h2>
            <ul class="stations">
                <li *ngFor="let station of this.stations" class="station" (click)="selectStation(station)">
                    <span> {{ station.adresse }} </span>
                    <span class="plage" [ngClass]="getCurrentPlage(station)" > {{ getCurrentPlage(station) }} </span>
                    <img class="arrow" src="../../assets/arrow-right.png" alt="">
                </li>
            </ul>

            <div style="text-align: center;" *ngIf="this.stations.length === 0">
                <span id="cbWrong"> Il n'y a pas de station disponible </span>

                <div id="ValidFormContent">
                    <button mat-button (click)="returnToHome()">Page d'accueil</button>
                </div>
            </div>
        </div>

        <div id="bornetteContent" *ngIf="this.numStep == 3">
            <div id="topBornette"> <div id="loaderContent"> <img id="loader" src="../../assets/loader.gif" alt=""> <span> pose des vélos en cours </span> </div> <p id="stationAdresse"> {{ this.stationSelected.adresse }} </p> </div>
            <h2> Selectionne une bornette : </h2>
            <ul class="bornettes">
                <li class="bornette"
                    #b
                    [class.OK]="bornette.etat === 'OK' && bornette.velo === null"
                    [class.HS]="bornette.velo !== null"
                    *ngFor="let bornette of getBornettesFromStation()"
                >
                    <span *ngIf="bornette.etat === 'OK' && bornette.velo !== null && bornette.velo.etat == 'OK'"> {{ bornette.numero }}°) {{ bornette.velo?.modele?.modele }} - {{ bornette.velo?.modele?.coutHoraire }}€/h </span>
                    <span *ngIf="bornette.etat === 'HS' || bornette.velo?.etat == 'HS'"> {{ bornette.numero }}°) HS </span>
                    <span *ngIf="bornette.etat === 'OK' && bornette.velo === null"> {{ bornette.numero }}°) Vide </span>
                    <img class="arrow" src="../../assets/arrow-right.png" alt="">
                </li>
            </ul>
        </div>


        <div id="veloContent" *ngIf="this.numStep == 4">
            <h2> Déclarer des vélo cassé : </h2>
            <ul class="velos">
                <li *ngFor="let i = index; let velo of this.locationSelected.velos">
                    <mat-checkbox (change)="updateVeloHS($event)" value="{{  velo.id }}"> Velo {{  velo.modele.modele }} est HS ? </mat-checkbox>              
                </li>
            </ul>

            
            <div id="ValidFormContent">
                <button mat-button (click)="selectEtatVelo()">Déclarer</button>
            </div>
        </div>


        <div id="paiementContent" *ngIf="this.numStep == 5">
            <p *ngIf="this.clientAbo" class="reduction"> 30% de réduction est appliqué </p>
            <h2> Paiement : </h2>
            <ul class="paiement">
                <li *ngFor="let velo of this.locationSelected.velos"> {{  velo.modele.modele }} - {{ velo.modele.coutHoraire }}€/h <span *ngIf="getVeloHs(velo.id)" id="cbWrong"> (HS) </span> </li>
                <li> <b> Deposer vélo au bornette : </b> {{ getBornetteSelected() }} </li>
                <li> <b> Durée : </b> {{ getDureeLocationString(this.locationSelected.dateDebut) }} </li>
                <li> <b> Prix : </b> {{ getPrixLocation(this.locationSelected.dateDebut) }} € </li>
                <li *ngIf="this.clientAbo"> 
                    <b> Vous avez {{ getNbCredit() }} : </b> 
                    <mat-checkbox (change)="updateCreditTemps($event)" value="{{  getNbCredit() }}"> Vous voulez les utiliser ? </mat-checkbox>
                </li>
            </ul>

            <div *ngIf="!this.clientAbo" id="creditCardContent">
                <p> <b> Votre numéro cb : </b> </p>
                <input #card name="creditCardInput" [ngModel]="carteBancaire" (ngModelChange)="CB_format(card)"
                    placeholder="1234 1234 1234 1234" type="tel" [maxlength]="19">
                <div *ngIf="isCreditCardInvalid()" id="cbWrong">Numéro de carte éronnée</div>
            </div>

            

            <div id="ValidFormContent">
                <button mat-button (click)="requetePaiement()" [disabled]="!isFormPayerValid()">Payer</button>
            </div>
        </div>
    </div>
</div>
