<div class="container">
    <div class="progress">
        <div class="percent" style="width: 0%;"></div>
    </div>
    <div class="steps">
        <div class="step" id="0" class="step selected"></div>
        <div class="step" id="1"></div>
        <div class="step" id="2"></div>
        <div class="step" id="3"></div>
        <div class="step" id="4"></div>
        <div class="step" id="5"></div>
    </div>
</div>

<div class="body">
    <h1> Déposer un/des vélo(s) </h1>

    <div id="Content">
        <div id="connexionContent" *ngIf="this.numPrecedent == 0">
            <h2> Connexion client : </h2>

            <form (ngSubmit)="getClient()">
                <div id="secretCodeContent">
                    <p>Votre code secret :</p>
                    <code-input #codeSecret name="secretCodeInput" [isCodeHidden]="false" [codeLength]="5"
                        (codeChanged)="saveSecretCode($event)">
                    </code-input>
                </div>
                <div id="ValidFormContent">
                    <button mat-button type="submit" [disabled]="!isFormValid()">Se connecter</button>
                </div>
                
                <p (click)="openDialogLogin()"> J'ai déjà un compte </p>
            </form>
        </div>


        <div id="locationContent" *ngIf="this.numPrecedent == 1">
            <h2> Location : </h2>

            <div id="locations">
                <div class="locations-container" (click)="setLocation(location)" *ngFor="let location of this.locations">
                    <h3> Location {{ location.id  }} </h3>
                    <ul>
                        <li class="recap" *ngFor="let velo of this.location.velos"> {{  velo.modele }} - {{ velo.coutHoraire }}€/h </li>
                        <li> Début il y a : {{ dureeLocationString(location.dateDebut) }} </li>
                    </ul>
                </div>
            </div>
        </div>


        <div id="stationContent" *ngIf="this.numPrecedent == 2">
            <h2> Selectionne une station : </h2>
            <ul class="stations">
                <li *ngFor="let station of this.stations" class="station" (click)="selectStation(station)">
                    <span> {{ station.adresse }} </span>
                    <img class="arrow" src="../../assets/arrow-right.png" alt="">
                </li>
            </ul>
        </div>


        <div id="bornetteContent" *ngIf="this.numPrecedent == 3">
            <h2> Selectionne une bornette : </h2>
            <ul class="bornettes">
                <li class="bornette" *ngFor="let bornette of getBornettesFromStation()">
                    <span> {{ bornette.numero }} </span>
                    <img class="arrow" src="../../assets/arrow-right.png" alt="">
                </li>
            </ul>
        </div>


        <div id="veloContent" *ngIf="this.numPrecedent == 4">
            <h2> Déclarer des vélo cassé : </h2>
            <ul class="velos">
                <li *ngFor="let i = index; let velo of this.locationSelected.velos"> 
                    <p> {{  velo.modele }} </p>

                    <mat-radio-group id="{{ i }}" class="etat-content" aria-label="Etat du vélo">
                        <mat-radio-button #btnRadio checked value="OK"> OK </mat-radio-button>
                        <mat-radio-button class="second-radio" value="HS"> HS </mat-radio-button>
                    </mat-radio-group> 
                </li>
            </ul>

            <button mat-button (click)="selectEtatVelo()">Déclarer</button>
        </div>


        <div id="paiementContent" *ngIf="this.numPrecedent == 5">
            <h2> Paiement : </h2>
            <ul class="paiement">
                <li *ngFor="let velo of this.locationSelected.velos"> {{  velo.modele }} - {{ velo.coutHoraire }}€/h </li>
                <li> Durée : {{ dureeLocationString(this.locationSelected.dateDebut) }} </li>
                <li> Prix : {{ getPrixLocation(this.locationSelected.dateDebut) }} €</li>
            </ul>

            <div *ngIf="!this.clientAbo" id="creditCardContent">
                <p>Votre numéro cb :</p>
                <input #card name="creditCardInput" [ngModel]="creditCard" (ngModelChange)="CB_format(card)"
                    placeholder="1234 1234 1234 1234" type="tel" [maxlength]="19">
                <div *ngIf="isCreditCardInvalid()" id="cbWrong">Numéro de carte éronnée</div>
            </div>

            <button mat-button (click)="selectPaiement()">Payer</button>
        </div>
    </div>
</div>

<!--
    1.1 - Si connecter client connecter :
        Va etape 2
    1.2 - Sinon :
        Afficher formulaire connexion
        Va etape 2

    2.1 - Si abo
        Affihce les locations à rendre
        (Requette location en cours pour un abo)
        Va etape 3
    2.2 - Si non abo
        Va etape 3

    3.1 - Si location à rendre :
        (Requette location en cours pour un non abo)
        (Requette liste bornette dispo)
        Selectione une bornnete
        Va etape 4
    3.2 - pas de loccaton à rendre :
        Afficher mesage

    4.1 - Afficher liste station
        (Requette liste station dispo pour une bornnette donnee)
        Annimation chargement pour deposer le velo automatique à la premiere station
        2 à 5 seconnde
        Va etape 5

    5.1 - Paiement :
        (Requette prix /h pour la location)
        Reccap du prix à payer (à calculer en typeescript)
        Boutton payer + message de remerciment
-->