.brand{
    font-family: "Inter";
    font-weight: 800;

    display: flex;
    align-items: center;
    cursor: pointer;

    margin-left: 200px;
}

#logo {
    height: 39px;
    width: auto;
    margin-right: 15px;
}

.connect{
    justify-content: end;
    text-align: end;
    justify-items: end;
    float: right;
    font-size: 15px;
    
    padding: 10px 20px;
    border-radius: 13px;

    &:hover{
        transition: 0.4s;
        background-color: #e4e4e4;
        cursor: pointer;
    }

    margin-right: 200px;
}


.sign-in-container{
    width: 100%;
    display: block;
    align-items: flex-end;

}

.mat-toolbar {
    background: #fff;
}


