<div class="container">
    <div class="progress">
        <div class="percent" style="width: 0%;"></div>
    </div>
    <div class="steps">
        <div class="step" id="0" class="step selected"></div>
        <div class="step" id="1"></div>
        <div class="step" id="2"></div>
        <div class="step" id="3"></div>
        <div class="step" id="4"></div>
    </div>
</div>

<div class="body">
    <h1> Loué un vélo(s) </h1>

    <div id="Content">
        <div id="connexionContent" *ngIf="this.numStep == 0">
            <h2> Connexion client : </h2>

            <form id="noAbo" *ngIf="this.clientAbo == false" (ngSubmit)="reqClientNoAbo()">
                <div id="ValidFormContent">
                    <button mat-button type="submit">Commencer</button>
                </div>

                <p (click)="openLoginAbo()" class="align"> J'ai déjà un compte </p>
            </form>

            <form id="Abo" *ngIf="this.clientAbo == true" (ngSubmit)="reqClientAbo()">
                <div id="creditCardContent">
                    <p> Votre numéro cb : </p>
                    <input #card name="creditCardInput"
                        [ngModel]="carteBancaire"
                        (ngModelChange)="CB_format(card)"
                        placeholder="1234 1234 1234 1234" type="tel" [maxlength]="19">
                    <div *ngIf="isCreditCardInvalid()" id="cbWrong"> Numéro de carte bleue est eronnée </div>
                </div>

                <div id="secretCodeContent">
                    <p> Votre code secret : </p>
                    <code-input #codeSecret name="secretCodeInput"
                        [isCodeHidden]="false"
                        [codeLength]="5"
                        (codeChanged)="saveSecretCode($event)">
                    </code-input>
                </div>

                <div *ngIf="isConnexionInvalid()" id="cbWrong"> Vos identifiants sont incorrect </div>

                <div id="ValidFormContent">
                    <button mat-button type="submit" [disabled]="!isFormValidAbo()"> Se connecter </button>
                </div>

                <p (click)="openLoginNoAbo()" class="align"> Je n'ai pas encore de compte </p>
            </form>
        </div>


        <div id="stationContent" *ngIf="this.numStep == 1">
            <h2> Selectionne une station : </h2>
            <ul class="stations">
                <li *ngFor="let station of this.stations" class="station" (click)="selectStation(station)">
                    <span> {{ station.adresse }} </span>
                    <span class="plage" [ngClass]="getCurrentPlage(station)" > {{ getCurrentPlage(station) }} </span>
                    <img class="arrow" src="../../assets/arrow-right.png" alt="">
                </li>
            </ul>

            <div style="text-align: center;" *ngIf="this.stations.length === 0">
                <span id="cbWrong"> Il n'y a pas de station disponible </span>
                
                <div id="ValidFormContent">
                    <button mat-button (click)="returnToHome()">Page d'accueil</button>
                </div>
            </div>
        </div>


        <div id="bornetteContent" *ngIf="this.numStep == 2">
            <div id="topBornette"> <img id="back" src="../../assets/arrow-back.png" alt="" (click)="backToStation()"> <p id="stationAdresse"> {{ this.stationSelected.adresse }} </p> </div>
            <h2> Selectionne une bornette : </h2>
            <ul class="bornettes">
                <li class="bornette"
                    #b
                    [class.OK]="bornette.etat === 'OK' && bornette.velo !== null && bornette.velo.etat == 'OK'"
                    [class.HS]="bornette.etat === 'HS' || bornette.velo === null || bornette.velo?.etat == 'HS'"
                    (click)="(bornette.etat === 'OK' && bornette.velo !== null && bornette.velo.etat == 'OK') ? selectBornette(b, bornette) : null"
                    *ngFor="let bornette of getBornettesFromStation()"
                >
                    <span *ngIf="bornette.etat === 'OK' && bornette.velo !== null && bornette.velo.etat == 'OK'"> {{ bornette.numero }}°) {{ bornette.velo?.modele?.modele }} - {{ bornette.velo?.modele?.coutHoraire }}€/h </span>
                    <span *ngIf="bornette.etat === 'HS' || bornette.velo?.etat == 'HS'"> {{ bornette.numero }}°) HS </span>
                    <span *ngIf="bornette.etat === 'OK' && bornette.velo === null"> {{ bornette.numero }}°) Vide </span>
                    <img class="arrow" src="../../assets/arrow-right.png" alt="">
                </li>
            </ul>

            <div id="ValidFormContent">
                <button mat-button (click)="validBornette()" [disabled]="!isListOfBornetteValid()">Valider</button>
            </div>
        </div>


        <div id="recapContent" *ngIf="this.numStep == 3">
            <h2> Récapitulatif : </h2>
            <ul class="recap">
                <li> <b> Bornette : </b> {{ getBornetteSelected() }} </li>
                <li> <b> Nombre de vélo : </b> {{ this.listBornSelected.length }} </li>
                <li> <b> Prix par heure : </b> {{ getPrixLocationParHeure() }} €</li>
            </ul>

            <div id="ValidFormContent">
                <button mat-button (click)="createLocation()">Louer</button>
            </div>
        </div>

        <div id="finalContent">
            <span *ngIf="this.secretCode === null"  id="cbWrong"> La location a échoué ! </span>
            <div *ngIf="this.secretCode !== null" > 
                <h2 *ngIf="this.clientAbo === false"> Votre code secret : {{ this.secretCode }} </h2>
                <h2>Bonne route !</h2> 

                <div id="ValidFormContent">
                    <button mat-button (click)="returnToHome()" [disabled]="!isListOfBornetteValid()">Page d'accueil</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
