<div class="container">
    <div class="progress">
        <div class="percent" style="width: 0%;"></div>
    </div>
    <div class="steps">
        <div class="step" id="0" class="step selected"></div>
        <div class="step" id="1"></div>
        <div class="step" id="2"></div>
        <div class="step" id="3"></div>
    </div>
</div>

<div class="body">
    <h1> Loué un vélo(s) </h1>

    <div id="Content">
        <div id="connexionContent" *ngIf="this.numStep == 0">
            <h2> Connexion client : </h2>

            <form id="noAbo" *ngIf="this.clientAbo == false" (ngSubmit)="reqClientNoAbo()">
                <div id="secretCodeContent">
                    <p>Votre code secret :</p>
                    <code-input #codeSecret name="secretCodeInput" [isCodeHidden]="false" [codeLength]="5"
                        (codeChanged)="saveSecretCode($event)">
                    </code-input>
                </div>
                <div id="ValidFormContent">
                    <button mat-button type="submit" [disabled]="!isFormValid()">Se connecter</button>
                </div>
                
                <p (click)="openLoginAbo()" class="align"> J'ai déjà un compte </p>
            </form>

            <form id="Abo" *ngIf="this.clientAbo == true" (ngSubmit)="reqClientAbo()">
                <div id="creditCardContent">
                    <p>Votre numéro cb :</p>
                    <input #card name="creditCardInput" 
                        [ngModel]="creditCard" 
                        (ngModelChange)="CB_format(card)"
                        placeholder="1234 1234 1234 1234" type="tel" [maxlength]="19">
                    <div *ngIf="isCreditCardInvalid()" id="cbWrong">Numéro de carte éronnée</div>
                </div>
            
                <div id="secretCodeContent">
                    <p>Votre code secret :</p>
                    <code-input #codeSecret name="secretCodeInput" 
                        [isCodeHidden]="false" 
                        [codeLength]="5"
                        (codeChanged)="saveSecretCode($event)">
                    </code-input>
                </div>
                <div id="ValidFormContent">
                    <button mat-button type="submit" [disabled]="!isFormValid()">Se connecter</button>
                </div>
                <p (click)="openLoginNoAbo()" class="align"> Je n'ai pas encore de compte </p>
            </form>
        </div>


        <div id="stationContent" *ngIf="this.numStep == 1">
            <h2> Selectionne une station : </h2>
            <ul class="stations">
                <li *ngFor="let station of this.stations" class="station" (click)="selectStation(station)">
                    <span> {{ station.adresse }} </span>
                    <img class="arrow" src="../../assets/arrow-right.png" alt="">
                </li>
            </ul>
        </div>


        <div id="bornetteContent" *ngIf="this.numStep == 2">
            <h2> Selectionne une bornette : </h2>
            <ul class="bornettes">
                <li class="bornette" 
                    #b
                    [ngClass]="bornette.etat" 
                    (click)="bornette.etat === 'OK' ? selectBornette(b, bornette) : null" 
                    *ngFor="let bornette of getBornettesFromStation()"
                >
                    <span> {{ bornette.numero }}°) {{ bornette.velo?.modele }} - {{ bornette.velo?.coutHoraire }}€/h </span>
                    <img class="arrow" src="../../assets/arrow-right.png" alt="">
                </li>
            </ul>

            <button mat-button (click)="validBornette()"> Valider </button>
        </div>


        <div id="recapContent" *ngIf="this.numStep == 3">
            <h2> Récapitulatif : </h2>
            <ul class="recap"> 
                <li> Bornette : {{ getBornetteSelected() }} </li>
                <li> Nombre de vélo : {{ this.listBornSelected.length }} </li>
                <li> Prix par heure : {{ getPrixLocationParHeure() }} €</li>
            </ul>

            <button mat-button (click)="createLocation()">Louer</button>
        </div>
<!--
        <div id="recapContent" *ngIf="this.numStep == 3">
            <h2> Récapitulatif : </h2>
            <ul class="recap">
                <li *ngFor="let velo of this.locationSelected.velos"> {{  velo.modele }} - {{ velo.coutHoraire }}€/h </li>
                <li> Durée : {{ dureeLocationString(this.locationSelected.dateDebut) }} </li>
                <li> Prix : {{ getPrixLocation(this.locationSelected.dateDebut) }} €</li>
            </ul>

            <div *ngIf="!this.clientAbo" id="creditCardContent">
                <p>Votre numéro cb :</p>
                <input #card name="creditCardInput" [ngModel]="creditCard" (ngModelChange)="CB_format(card)"
                    placeholder="1234 1234 1234 1234" type="tel" [maxlength]="19">
                <div *ngIf="isCreditCardInvalid()" id="cbWrong">Numéro de carte éronnée</div>
            </div>

            <button mat-button (click)="selectPaiement()">Payer</button>
        </div>
-->
    </div>
</div>